@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
    --chatBox: #ede5f4;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.sidePillar1{
    position: absolute;
    width: 40%;
    height: 85%;
    background-image: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
    border-radius: 0 0 40% 60%;
    top: 0;
    left: -200px;
}
.sidePillar2{
    position: absolute;
    width: 45%;
    height: 82%;
    background: var(--Light-Grayish-Violet);
    border-radius: 40% 60% 0% 0%;
    bottom: 0;
    right: -380px;
}
.outerCont {
    width: 60%;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.innerCont{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left{
    display: grid;
    place-items: center;
}
.mobileOuterCont{
    height: auto;
    width:55%;
    background-color: var(--White);
    border-radius: 30px;
    padding: 12px;
    box-shadow: 0px 5px 8px 1px rgb(38 38 40 / 32%);
}
.mobileInnerCont{
    height: 100%;
    width: 100%;
    background-color: var(--Light-Grayish-Violet);
    border-radius: 20px;
}
.profileCont{
    width: 100%;
    height: auto;
    background-image: linear-gradient(-90deg,var(--Light-Magenta), var(--Light-Violet));
    border-radius: 20px 20px 5px 5px;
}
.blankSpace{
    width: 58%;
    background: var(--White);
    height: 25px;
    margin: 0 auto;
    margin-top: -1px;
    border-radius: 0px 0px 13px 13px;
}
.profileBar{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 12px 15px;
}
.profile{
    display: flex;
    gap: 7px;
    align-items: center;
}
.profile i{
    color: var(--White);
    font-size: 12px;
}
.menu i{
    color: var(--White);
    font-size: 12px;
}
.profile img{
    width: 30px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid var(--White);
}
.profileHading{
    font-size: 13px;
    font-weight: 500;
    color: var(--White);
    margin-bottom: 3px;
}
.profilePara{
    font-size: 10px;
    font-weight: 400;
    color: var(--Light-Grayish-Violet);
    opacity: 0.8
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.chatCont{
    padding: 15px 10px 15px 10px;
}
.chat1{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--chatBox);
    color: var(--Light-Violet);
    font-size: 10px;
    margin-bottom: 10px;
}
.chat2{
    margin-top: 15px;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.dogImages img{
    border-radius: 10px;
    width: 40px;
    margin-left: 6px;
    margin-bottom: 10px;
}
.chat3{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--White);
    color: #474747;
    font-size: 10px;
    margin-bottom: 10px;
}
.chat4 {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--White);
    color: #474747;
    font-size: 10px;
    margin-bottom: 10px;
}
.walkCont{
    display: flex;
    width: 70%;
    color: var(--White);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 10px 3px;
    padding: 10px 18px 10px 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg, var(--Light-Magenta), var(--Light-Violet));
}
.walkContText{
    font-size: 10px;
    opacity: 0.9;
}
.dollarMoney{
    font-size: 15px;
    font-weight: 600;
}
.inputBox{
    margin-top: 20px;
    width: 100%;
    background-color: var(--White);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputBox p{
    padding-left: 15px;
    font-size: 10px;
    color: #474747;
}
.arrowBox{
    background-color: var(--Very-Dark-Desaturated-Violet);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowBox i{
    color: #fff;
    font-size: 13px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: end;
}
.widthText{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 79%;
}
.widthText h1{
    color: var(--Very-Dark-Desaturated-Violet);
    line-height: 1em;
    font-size: 45px;
    font-weight: 500;
}
.widthText p {
    line-height: 1.6em;
    color: rgb(116, 104, 104);
}

/* ---------- Media Queries ----------- */

@media(max-width: 1800px) and (min-width: 1701px){

    .sidePillar1 {
            left: -180px;
        }
    .sidePillar2 {
            right: -350px;
    }
    .outerCont{
        width: 65%;
    }

}

@media(max-width: 1700px) and (min-width: 1601px) {

    .sidePillar1 {
        left: -180px;
    }

    .sidePillar2 {
        right: -350px;
    }

    .outerCont {
        width: 70%;
    }

}

@media(max-width: 1600px) and (min-width: 1501px) {

    .sidePillar1 {
        left: -180px;
    }

    .sidePillar2 {
        right: -350px;
    }

    .outerCont {
        width: 73%;
    }

}

@media(max-width: 1500px) and (min-width: 1401px) {

    .sidePillar1 {
        left: -200px;
    }

    .sidePillar2 {
        right: -320px;
    }

    .outerCont {
        width: 78%;
    }

}

@media(max-width: 1400px) and (min-width: 1301px) {

    .sidePillar1 {
        left: -200px;
    }

    .sidePillar2 {
        right: -300px;
    }

    .outerCont {
        width: 85%;
    }

}

@media(max-width: 1300px) and (min-width: 1201px) {

    .sidePillar1 {
        left: -280px;
        width: 50%;
    }

    .sidePillar2 {
        right: -300px;
        width: 50%;
    }

    .outerCont {
        width: 89%;
    }
    .right {
        align-items: center;
    }

}

@media(max-width: 1200px) and (min-width: 801px) {

    .sidePillar1 {
        left: -280px;
        width: 50%;
    }

    .sidePillar2 {
        right: -300px;
        width: 50%;
    }

    .outerCont {
        width: 89%;
    }

    .right {
        align-items: center;
    }
    .mobileOuterCont{
        width: 65%;
    }

}

@media(max-width: 550px){

body{
    /* overflow: hidden !important; */
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* position: fixed; */
}
.innerCont{
    grid-template-columns: 1fr;
    gap: 60px;
}
.outerCont{
    width: 100%;
    transform: none;
    top: 60px;
    left: 0;
}
.mobileOuterCont{
    width: 75%;
}
.chat1{
    width: 80%;
}
.chat3{
    width: 60%;
}
.widthText {
    gap: 25px;
    width: 80%;
}
.right{
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.widthText h1{
    font-size: 35px;
}
.sidePillar1{
    position: fixed;
    width: 100%;
    height: 50%;
    top: 0;
    left: -200px;
}
.sidePillar2 {
    position: fixed;
    width: 100%;
    height: 50%;
    bottom: 0;
    right: -200px;
}
}




















.attribution {
      font-size: 11px;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }
